{% extends "base.html" %}


{% block title %}
ثبت‌نام
{% endblock title %}


{% block content %}

<div class="pb-5">
    <div class="container d-flex justify-content-center">
        <article class="contact-form">
            <h3>ثبت‌نام</h3>
            <a class="contact-btn btn" href="{% url 'auth:login' %}">اگه حساب دارید <strong>وارد شوید</strong></a>
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <!-- inputs -->
                    {{ form.as_div }}
                </div>
                <!-- button -->
                <button type="submit" class="contact-btn btn">ثبت‌نام</button>
            </form>
        </article>
    </div>
</div>



{% endblock content %}