{% extends "base.html" %}

{% block title %}
    درباره ی ما
{% endblock title %}

{% block content %}

<div class="blog pb-5">
    <div class="container">
        <section class="section single-page">
            <div class="section-title">
                <h2>درباره ی دو بیتی های عاشقانه</h2>
                <div class="underline"></div>
            </div>
            <div class="section-center page-info">
                <p>
                    بذار برای بعد بذار برای بعد بذار برای بعد بذار برای بعد بذار برای بعد بذار برای بعد
                    بذار برای بعد بذار برای بعد بذار برای بعد بذار برای بعد بذار برای بعد بذار برای بعد
                    بذار برای بعد بذار برای بعد بذار برای بعد بذار برای بعد بذار برای بعد بذار برای بعد
                    بذار برای بعد بذار برای بعد بذار برای بعد بذار برای بعد بذار برای بعد بذار برای بعد
                    بذار برای بعد بذار برای بعد بذار برای بعد بذار برای بعد بذار برای بعد بذار برای بعد
                    بذار برای بعد بذار برای بعد بذار برای بعد بذار برای بعد بذار برای بعد بذار برای بعد
                    بذار برای بعد بذار برای بعد بذار برای بعد بذار برای بعد بذار برای بعد بذار برای بعد
                    بذار برای بعد بذار برای بعد بذار برای بعد بذار برای بعد بذار برای بعد بذار برای بعد
                    بذار برای بعد بذار برای بعد بذار برای بعد بذار برای بعد بذار برای بعد بذار برای بعد
                    بذار برای بعد بذار برای بعد بذار برای بعد بذار برای بعد بذار برای بعد بذار برای بعد
                    بذار برای بعد بذار برای بعد بذار برای بعد بذار برای بعد بذار برای بعد بذار برای بعد
                    بذار برای بعد بذار برای بعد بذار برای بعد بذار برای بعد بذار برای بعد بذار برای بعد
                    بذار برای بعد بذار برای بعد بذار برای بعد بذار برای بعد بذار برای بعد بذار برای بعد
                    بذار برای بعد بذار برای بعد بذار برای بعد بذار برای بعد بذار برای بعد بذار برای بعد
                    بذار برای بعد بذار برای بعد بذار برای بعد بذار برای بعد بذار برای بعد بذار برای بعد
                    بذار برای بعد بذار برای بعد بذار برای بعد بذار برای بعد بذار برای بعد بذار برای بعد
                </p>
            </div>
        </section>
    </div>
</div>


{% endblock content %}
